{% extends "layout.html" %} {% block title %}Network GUI{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        <svg width=960 height=600></svg>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form id=upload_form method=post enctype=multipart/form-data>
            <input class=valign type=file name=file id=file_select>
            <div class=valign>
                <button type=button id=file_select_btn class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Select File
                    </button>
                <span id="file_name">File name</span>
            </div>
            <div class=valign>
                <Button type=submit id=upload_button class="valign mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Submit
                        </Button>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block script_body %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{url_for('static', filename='js/main.js') }}"></script>
<script src="{{url_for('static', filename='js/graph.js') }}"></script> 
{% endblock %}